/* color scheme
#e466aff4
*/

/* --- RESET & CONFIGURAÇÕES GERAIS --- */
:root {
    --primary-color: #4A3525;  /* Cor escura dos cabeçalhos do wireframe */
    --card-bg: #C86D51;  /* Fundo dos blocos/cards */
    --text-color: #333;
    --bg-color: #FDFBF7;
    --font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* header */
header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 10px 10px 10px;
    align-items: end;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span{
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: bold;
}

/* hamburguer navigation*/
.hamburguer{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer::before{
    content: "\2630";
    font-size: 2rem;

}

.hamburguer.show::before{
    content: "\00D7";

}

/* navigation*/
.navigation{
    display: none;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: var(--bg-color);
    text-decoration: none;
}

.navigation a.current {
    background-color: var(--card-bg);
    color: var(--bg-color);
    font-weight: bold;
    border-radius: 0.5rem;
}

.navigation a:hover{
    background-color: var(--card-bg);
    border-radius: 0.5rem;
}

h1{
    margin-left: 10px;
    color: var(--primary-color);
    padding: 10px 0px 0px 60px;
}

/* footer*/
footer{
    background-color: var(--primary-color);
    padding: 1rem 10px;
    text-align: center;
    color: var(--bg-color);
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--primary-color) solid 1px;
    border-radius: 4px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: var(--card-bg);
}

/* ---main content and courses--- */

/* about me e foto*/
.profile-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

/* estilização caixas de seção*/
.about-me {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 1rem;
}
section p{
    margin-left: 10px;
}

section h2{
    background-color: var(--primary-color);
    color: var(--bg-color);
    margin: 0;
    border-radius: 6px;
    padding: 0.8rem 10px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
}

/* foto do estudante*/
.student-photo{
    text-align: center;
}

.student-photo img{
    margin: 0rem 0rem 0rem 7rem;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* seção de cursos*/
.courses-section{
    margin: 10px;
    padding: 0px 0px 0px 0px;
}

/* div botões de filtro*/
.courses-section > div:first-of-type{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 10px 0;
}

/* botões de filtro*/
.btn-filter{
    background: var(--bg-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.6rem 1rem;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    max-width: 100px;
    transition: 0.3s;
}

/* O botão ativo (.active) pode continuar com o fundo preenchido */
.btn-filter.active {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.btn-filter:hover, .btn-filter.active{
    background-color: var(--primary-color);
    color: var(--bg-color);
}

/* container cursos*/
.courses-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

/* cartões individuais*/
.course-card{
    background-color: white;
    border-left: 5px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
}

.course-card h3{
    margin: 0;
    color: var(--primary-color);
    font-size: 1.1rem;
}

/* paragrafo créditos*/
.total-credits{
    text-align: center;
    font-weight: bold;
    border-top: 1px solid var(--primary-color);
    padding-top: 1rem;
    color: var(--primary-color);
}

#credits-count{
    color: var(--card-bg);
}

/* Estilo para destacar os cards de matérias já concluídas */
.course-card.completed {
    background-color: #c86d5179; /* Um fundo rosa bem clarinho/translúcido */
    border: 2px solid var(--primary-color); /* Borda rosa completa */
}

dialog {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .25rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
  position: absolute;
  top: 23px;
  right: 23px;
  padding: .5rem 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
}